<div class="container">
	<!--<h>aaaa</h>-->
	<div class="row">
		<div class="col-md-4">
			<%= attachment_image_tag @user, :profile_image, size: "70x70", fallback: "images.png" %>
			<p><%= @user.name %></p>
			<p><%= @user.introduction %></p>
			<% if @user.id == current_user.id %>
				<p>
					<%= link_to "edit", edit_user_path(@user.id) %>
				</p>
			<% end %>
		</div>

		<div class="col-md-8">
			<% @user.books.each do |book| %>
				<table>
					<tr>
						<th>
							gazouooo
						</th>
						<th>
							Title
						</th>
						<th>
							Opinion
						</th>
					</tr>
					<!--userの画像載せる-->
					<tr>
						<td>
						<%= attachment_image_tag book.user, :profile_image, size: "30x30", fallback: "images.png" %>
						</td>
						<td>
							<%= link_to "#{book.title}", book_path(book.id) %> <!--<%= book.title %>-->
						</td>
						<td>
							<%= book.body %>
						</td>
					</tr>
				</table>
			<% end %>
		</div>
	</div>
</div>