<div>
	<!--<h>aaaa</h>-->
	<!--userの画像載せる-->
	<%= @user.name %>
	<%= @user.introduction %>

	<% @user.books.each do |book| %>
	<!--userの画像載せる-->
	<li>
		<%= link_to "#{book.title}", book_path(book.id) %> <!--<%= book.title %>-->
	</li>
	<li>
		<%= book.body %>
	</li>
	<% end %>

	<% if @user.id == current_user.id %>
	<li>
		<%= link_to "edit", edit_user_path(@user.id) %>
	</li>
	<% end %>
</div>